/resources/raw-images/
*~
test.cpp
/obj/
/bin/
*.layout
*.depend

ValgrindOut.xml
*.supp
*.log

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

CppCheckResults.xml
ValgrindOut.xml
valsupp.supp
/Standalones/
